.landing-1, .landing-2, .landing-3, .landing-4, .landing-5, .landing-6, .landing-7 {
    padding: 6rem 0rem 6rem 0rem;
}

.one-header, .two-header, .three-header, .four-header, .five-header, .six-header {
    font-weight:bolder;
}
.two-para, .three-para, .four-para, .five-para {
    margin-bottom: 5rem;
    font-weight:300;
}

/* Landing 1 */

.landing-1 {
    padding: 7rem 0rem 0rem 0rem;
}

.header-span {
    background-image: linear-gradient(60deg, #00ffff, #4096ff);
    background-clip: text;
    color: transparent;
}

.one-image {
    width:40%;
    height:300px !important;
    margin-top:4rem;
    margin-bottom: 4rem;
    box-shadow:1px 1px 3px lightgrey;
    border-radius:5px;
}

.one-header {
    margin-bottom: 1rem;
    font-size: 5rem;
    line-height: 5rem;
}

.one-para {
    margin-bottom:3rem;
    font-weight:300;
    padding:0rem 3rem;
}

.trial-button {
    padding: 1rem 1.5rem;
    width:175px;
    margin-right:1rem;
    background:rgb(50, 50, 255);
    box-shadow: 1px 1px 1px rgb(213, 213, 213);
    color:white;
    border:none;
    outline:none;
    border-radius: 10px;
}

.learn-button {
    padding: 1rem 1.5rem;
    width:175px;
    margin-left:1rem;
    background:black;
    color:white;
    border:none;
    outline:none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightgrey;
}

.bubble {
    background: linear-gradient(180deg, rgba(250,250,250,1) 52%, rgba(222,222,222,1) 100%);
    box-shadow:1px 1px 1px 1px rgb(232, 232, 232);
    padding: 3rem 3rem;
    border-radius:50%;
    position:absolute;
    z-index:-99999;
}

.bubble-1 {
    left:80px;
    bottom:50px;
}

.bubble-2 {
    padding: 5rem 5rem;
    right:120px;
    top:300px;
}

@media only screen and (max-width: 1090px) {
    .one-image {
        width:45%;
    }
}
@media only screen and (max-width: 768px) {
    .one-image {
        width:60%;
    }
}

@media only screen and (max-width: 568px) {
    .one-image {
        width:80%;
    }
    
}

@media only screen and (max-width: 476px) {
    .one-header {
        font-size: 4rem !important;
        line-height: 4rem;
    }
    
}
@media only screen and (max-width: 405px) {
    .learn-button {
       margin: 0rem 0rem 0rem 0.5rem;
       width:45%;
    }
    .trial-button {
        margin: 0rem 0.5rem 0rem 0rem !important;
        width:45%;
     }

}


/* Landing 2 */



.landing-2 {
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
    padding-bottom: 4rem !important;

}
.two-header {
    font-size: 3rem;
    margin-bottom:1rem;
    padding: 0rem 6rem;
}
.two-image {
    width:60%;
}
.two-para {
    width:50%;
    margin-left:25%;
}


@media only screen and (max-width: 405px) {
    .two-header {
       padding: 0rem 2rem;
    }
    .two-para {
        
        width:80%;
        margin-left: 10%;
     }
     .two-image {
        width:90%;
     }
     
}




/* Landing 3 */ 

.landing-3 {
    text-align:left;
    padding-left:4rem;
}

.three-image {
    width:95%;
}

.three-header {
    font-size:3rem;
    margin-bottom:1rem;
}

.three-para {
    margin-bottom: 3rem !important;
    padding-right: 6rem;
}


.three-div {
    width:75%;
    margin:1.5rem 0rem;
    text-align:center;
    box-shadow: 3px 3px 3px 3px lightgrey;
    padding:1.5rem 2rem;
    border-radius:10px;
}

.three-div-h {
    margin-bottom:1rem;
}

.three-div-p {
    font-weight:300;
    color: rgba(41,41,41, 1);
    font-size:0.8rem;
}


@media only screen and (max-width: 1200px) {
    .landing-3 {
       padding-left:2rem;
       padding-right: 3rem;
    }
    
}

@media only screen and (max-width: 991px) {
    .three-image {
       width:80%;
    }
}

@media only screen and (max-width: 991px) {
    .landing-3 {
       text-align:center;
       justify-content: center;
    }
    .three-div {
        width:40%;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
        margin-bottom: 0.4rem !important;
       display: inline-block;
       justify-content: center;
    }
    .three-para {
        padding: 0rem !important;
        width:60%;
        margin-left:20%;
    }


}
@media only screen and (max-width: 900px) {
    .landing-3 {
        padding-bottom:3rem !important;
    }  
}


@media only screen and (max-width: 768px) {
    .three-image {
       width:75%;
       margin-top:1.5rem;
    }
    
    
}

@media only screen and (max-width: 798px) {
    .landing-3 {
       text-align:center;
       justify-content: center;
    }
    .three-div {
        width:90%;
        margin: 0rem !important;
        margin-bottom:2rem !important;
    }
    .three-para {
        padding: 0rem !important;
        width:60%;
        margin-left:20%;
    }
}

@media only screen and (max-width: 630px) {
    .three-image {
        width:100%;
    }

}

@media only screen and (max-width: 405px) {
    .three-div {
      width:90%;
      margin-left:5%;
    }
    .three-para, .three-header {
        width:90%;
        margin-left:5%;
    }
    .three-image {
        width:100%;
    }

    
     
}



/* Landing 4 */ 

.landing-4 {
    background: linear-gradient(180deg, rgba(250,250,250,1) 45%, rgb(0, 0, 0) 45%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 10rem;
    gap:2rem;
}

.four-header {
    font-size:3rem;
    margin-bottom: 1rem;
}
.four-image {
    width:50px;
}

.grid-item {
    border-radius:10px;
    padding: 2rem 2rem;
    background:white;
    box-shadow: 1px 1px 1px 1px rgb(229, 229, 229);
}

.grid-header {
    font-weight:bold;
    margin-top: 1rem;
}

.grid-p {
    font-weight:300;
    font-size: 0.9rem;
}

.four-top {
    width:70%;
    justify-content: center;
    text-align: center;
    margin-left:15%;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        padding: 0rem 8rem;
    }
}

@media only screen and (max-width: 1100px) {
    .grid-container {
        padding: 0rem 6rem;
    }
}

@media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media only screen and (max-width: 600px) {
    .grid-container {
       padding: 0rem 2rem !important;
    }

    
}







/* Landing 5 */ 

.five-header {
    font-size:3rem;
    margin-bottom:2rem;
}
.five-para {
    margin-bottom:2rem;
}

.five-image {
    width:60%;
}

.landing-5 {
    width:60%;
    margin-left:20%;
    padding-top: 4rem;
    padding-bottom:2rem;
}

@media only screen and (max-width: 900px) {
    .five-image {
        width:100%;
    }

    
}

@media only screen and (max-width: 450px) {
    .landing-5 {
       width:80%;
       margin-left:10%;
    }
    .five-image {
        width:100%;
    }

    
}



/* Landing 6 */ 

.landing-6 {
    padding: 2rem 0rem 3rem 0rem;
}


.six-header {
    font-size:3rem;
    margin-bottom: 2rem;
}
.six-image {
    width:100px;
}

.article-title {
    margin-bottom: 2rem !important;
    font-weight:500;
    text-align: left;
}



.six-button {
    margin: 0rem 0.8rem;
    background:none;
    outline:none;
    border:none;
    margin-bottom:4rem;
    font-size: 0.8rem;
    box-shadow: 1px 1px 2px lightgrey;
    border-radius:20px;
    padding:0.3rem 0.6rem;
}

.six-blue {
    background:blue;
    color:white;
}

.six-top {
    width:60%;
    margin-left:20%;
}

.card-button {
    box-shadow: 1px 1px 1px 1px rgb(237, 237, 237);
    font-size: 0.6rem !important;
    padding:0.2rem 0.4rem !important;
    color:black !important;
    border-radius:40px !important;
    text-transform: none !important;
    margin-top:1rem !important;
}

.button-blue {
    background-color: blue !important;
    color:white !important;
}

.card-div {
    display:flex;
    width:90%;
    margin-left:5%;
    justify-content: center;
    text-align: center;
}

.card-content {
    padding-bottom: 1rem !important;
}

.blog-card {
    margin:0rem 1.5rem;
}

.profile-image {
   width: 2rem!important;
   border-radius: 50%;
   overflow: hidden;
   text-align: left !important;
   justify-content: left !important;
   margin-right: 1rem;
}

.author-profile {
    display: flex;
}
.author-name {
    padding-top: 0.3rem;
}

.card-button-div {
    padding-left:1rem !important;
}

@media only screen and (max-width: 900px) {
    .card-div {
        display:block !important;
        justify-content: center !important;
        text-align: center !important;
       margin-left:0rem !important;
       width:70%;
       margin-left: 15% !important;
       margin-top:2rem;
    }
    .six-button {
        margin-bottom: 1rem !important;
    }
    .card-tag {
       margin-bottom: 1.5rem !important;
       width:100% !important;
       display: inline-block;
    }
}

@media only screen and (max-width: 550px) {
    .card-div {
        width:80%;
        margin-left:10% !important;
    }
}

@media only screen and (max-width: 400px) {
    .landing-6 {
        padding-top:1rem;
    }
}




/* Landing 7 */ 

.landing-7 {
    padding-top: 3rem !important;
}

.seven-wrap {
    background:rgb(54, 54, 255);
    color:white;
    display:flex;
    width:80% !important;
    margin-left: 10%;
    border-radius:5px;
    box-shadow: 1px 1px 3px grey;
    padding: 10rem 2rem;
}
.seven-one {
    width:70%;
    text-align:left;
    font-weight:300;
}

.seven-two {
    width:30%;

}

.seven-button {
    background:white;
    border:none;
    color:rgb(54, 54, 255);
    padding: 1rem 1.5rem;
    border-radius:5px;
    margin-top:0.75rem;
    box-shadow: 1px 1px 1px white;
    font-weight:500;
}

@media only screen and (max-width: 900px) {
    .seven-one {
       width:50%;
    }
    .seven-two {
        width:50%;
    }
   
}

@media only screen and (max-width: 768px) {
   .seven-wrap {
    display: block !important;
    text-align: center !important;
    padding: 4rem 4rem;
   }
   .seven-one {
    width:100% !important;
    text-align: center !important;
    margin-bottom: 2rem;
 }
 .seven-two {
     width:100%;
 }
   
}

@media only screen and (max-width: 500px) {
    .seven-wrap {
     padding: 4rem 2rem;
    }
    
 }